body {
    background-color: black;
    color: white;
    padding: 10px 30px 50px 80px;
	font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #00db71;
    text-transform: uppercase;
    font-weight: bold;
}

#bingo-container {
    border-style: solid;
    border-width: 3px;
    border-color: #4a4a4a;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    width: 60%;
}

.number {
    background-color: #0f0f0f;
    display: inline-block;
    width: 12%;
    min-height: 64px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-radius: 8px;
    margin: 3px;
    border-color: #383838;
}

.selected {
    border-color: #888;
    background-color: #444;
}